.imageWrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1280px) {
  .imageWrapper img {
    max-width: 75%;
  }
}
