/* .stillsWrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: var(--spacer-xl);
}
.stillsWrapper * {
  outline: 0;
}

.description {
  padding-top: 0.5em;
  text-indent: 0;
} */

.slideshowWrapper {
  position: relative;
  width: 100%;
  height: 56.25vw;
}

.slideshowWrapper > div {
  height: 100%;
}
