.contactWrapper {
  min-height: calc(5rem + 15vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactWrapper h1 {
  margin-top: var(--spacer-m);
}

.linksWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.links {
  display: flex;
  gap: var(--spacer-m);
}
