@keyframes loadingAnimation {
  0% {
    background-color: var(--color-text);
    transform: rotateY(0deg) translate(-50%, -50%);
  }
  50% {
    background-color: rgb(var(--color-link));
    transform: rotateY(180deg) translate(-50%, -50%);
  }
  100% {
    background-color: var(--color-text);
    transform: rotateY(360deg) translate(-50%, -50%);
  }
}

.loader {
  opacity: 0;
  width: var(--spacer-m);
  height: var(--spacer-m);
  background-color: var(--color-text);
  border-radius: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform-origin: left;
}

.loader.loading {
  opacity: 1;
  animation: loadingAnimation 2s infinite;
}
