:root {
  --border-radius: 12px;
  --typeface: Helvetica, sans-serif;

  --spacer-xs: 1rem;
  --spacer-s: calc(0.5rem + 0.25vw);
  --spacer-m: calc(0.5rem + 1vw);
  --spacer-l: 3vw;
  --spacer-xl: calc(3rem + 3vw);

  --font-size-xs: 0.75rem;
  --font-size-s: calc(0.75rem + 0.35vw);
  --font-size-m: calc(1rem + 1.5vw);
  --font-size-ml: calc(1rem + 3vw);
  --font-size-l: calc(1rem + 1.5vw);
  --font-size-xl: calc(1rem + 9vw);

  --indent: calc(1rem + 3vw);
  --line-weight: 0.5px;

  --color-text: #000000;
  --color-link: 0, 0, 255;
  --color-background: 255, 255, 255;
}
@media (min-width: 576px) {
  :root {
    --font-size-s: calc(0.75rem + 0.25vw);
  }
}

@media (min-width: 1024px) {
  :root {
    --spacer-m: calc(1rem + 0.5vw);
    --spacer-xl: calc(3rem + 4vw);

    --font-size-ml: calc(1rem + 2.5vw);
    --font-size-l: calc(1rem + 2vw);
  }
}
@media (min-width: 1280px) {
  :root {
    --font-size-ml: calc(1rem + 3vw);
    --font-size-l: calc(1rem + 1.75vw);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--typeface);
  font-size: 14px;
  max-width: 100vw;
}

body {
  padding: 0 var(--spacer-m);
  color: var(--color-text);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--color-background))
    )
    rgb(var(--color-background));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* ######################### TYPOGRAPHY ######################### */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: 400;
}

h1,
.h1 {
  font-size: var(--font-size-xl);
  line-height: 1;
  padding-bottom: 0.125em;
}

.text-l {
  font-size: var(--font-size-l);
}

h2,
.h2 {
  font-size: var(--font-size-ml);
  line-height: 1.1;
}

h3,
.h3,
.text-m {
  font-size: var(--font-size-m);
}

h4,
.h4,
.text-s {
  font-size: var(--font-size-s);
}

h5,
.h5,
.text-xs {
}

.text-xs,
.text-s,
.text-m,
.text-l {
  white-space: pre-line;
}

p {
  text-indent: var(--indent);
}

hr {
  border-width: var(--line-weight);
  border-top-width: 0;
  border-color: var(--color-text);
}

.btn {
  position: relative;
  transition: color 0.6s ease;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  height: var(--line-weight);
  background-color: rgb(var(--color-link));
  transition: opacity 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    color: rgb(var(--color-link));
  }

  .btn:hover::before {
    left: 0;
    opacity: 1;
    right: auto;
    width: 100%;
  }
}
